@font-face {
  font-family: didotFont;
  src: url("../fonts/Sail-Regular.otf"); }

@font-face {
  font-family: montserrat;
  src: url("../fonts/Montserrat-Regular.otf"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.container {
  display: flex;
  height: 100vh; }
  .container aside {
    background-color: white;
    width: 10%; }

.column {
  width: 80%; }
  .column main {
    height: 95vh;
    width: 100%; }
    .column main .title {
      width: 80%;
      position: fixed;
      top: 10vh;
      left: 10vw;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center; }
      .column main .title .drum {
        width: 50vw; }
    .column main .equalizer {
      height: inherit; }
      .column main .equalizer #canvas {
        background-image: linear-gradient(#F2B691, #FCEEB5);
        width: 100%;
        height: 100%;
        top: 100px;
        left: 0;
        z-index: 1; }
    .column main .wave {
      position: absolute;
      bottom: 4vh;
      z-index: 2;
      width: 80%; }
      .column main .wave .cls-1 {
        fill: #537aa3; }
      .column main .wave .cls-2 {
        fill: #A2CCB6; }
      .column main .wave .cls-3 {
        fill: #F1FFF9; }
    .column main .buttons {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      position: absolute;
      bottom: 1vh;
      z-index: 3; }
      .column main .buttons input[type="button"] {
        width: 150px;
        height: 30px;
        font-family: montserrat, sans-serif;
        font-size: 1em;
        color: #EE786E;
        background-color: rgba(252, 238, 181, 0.1);
        border-style: solid;
        border-width: 0.5px;
        border-color: #EE786E;
        border-radius: 2px;
        margin: 5px; }
      .column main .buttons input[type="button"]:hover {
        background-color: rgba(252, 238, 181, 0.5); }
      .column main .buttons input[type="button"]:active {
        background-color: rgba(252, 238, 181, 0.5);
        border-width: 1px; }
  .column footer {
    background-color: #F1FFF9;
    height: 8vh;
    font-family: montserrat, sans-serif;
    font-size: 0.8em;
    color: #CC5376;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .column footer span a :link {
      color: #CC5376; }
    .column footer span a :visited {
      color: #EE786E; }
    .column footer span a :hover {
      color: #F2B691; }
    .column footer span a :active {
      color: #FCEEB5; }

@media (min-width: 320px) and (max-width: 480px) {
  .container aside {
    width: 0vw; }
  .column {
    width: 100vw; }
  .column main .wave {
    width: 100%; }
  img .drum {
    width: 90vw; }
  .column main .buttons {
    width: 100%;
    bottom: 10vh;
    justify-content: center;
    align-items: center;
    justify-items: center; } }
